
.form-modal{
  padding-top: 100px;

  .modal-dialog{
    width: 570px;
    max-width: 570px;

    @media(max-width: 620px){
      width: 100%;
      max-width: calc(100% - 24px);
    }
  }

  .modal-content{
    border-radius: 16px !important;
    background: linear-gradient(154deg, #262626 0%, #262626 0.01%, rgba(38, 38, 38, 0.35) 100%);
    backdrop-filter: blur(10px);
    padding: 56px 48px;

    @media(max-width: 440px){
      padding: 40px 30px;
    }

    @media(max-width: 360px){
      padding: 40px 15px;
    }

    .modal-header{
      display: block;

      .subtitle{
        margin-bottom: 56px;
      }
    }
  }
}