@font-face {
  font-family: "Rubik-Light";
  src: url("../fonts/Rubik-Light/rubik-300.woff2") format("woff2"),
  url("../fonts/Rubik-Light/rubik-300.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}


@font-face {
  font-family: "Rubik-Regular";
  src: url("../fonts/Rubik-Regular/Rubik-Regular.eot");
  src: url("../fonts/Rubik-Regular/Rubik-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Rubik-Regular/Rubik-Regular.woff") format("woff"),
  url("../fonts/Rubik-Regular/Rubik-Regular.svg#Rubik-Regular") format('svg'),
  url("../fonts/Rubik-Regular/Rubik-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik-Bold";
  src: url("../fonts/Rubik-Bold/Rubik-Bold.eot");
  src: url("../fonts/Rubik-Bold/Rubik-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Rubik-Bold/Rubik-Bold.woff") format("woff"),
  url("../fonts/Rubik-Bold/Rubik-Bold.svg#Rubik-Bold") format('svg'),
  url("../fonts/Rubik-Bold/Rubik-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}


@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter-Regular/Inter-Regular.eot");
  src: url("../fonts/Inter-Regular/Inter-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Inter-Regular/Inter-Regular.woff") format("woff"),
  url("../fonts/Inter-Regular/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/Inter-Bold/Inter-Bold.eot");
  src: url("../fonts/Inter-Bold/Inter-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Inter-Bold/Inter-Bold.woff") format("woff"),
  url("../fonts/Inter-Bold/Inter-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url("../fonts/Inter-ExtraBold/Inter-ExtraBold.eot");
  src: url("../fonts/Inter-ExtraBold/Inter-ExtraBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Inter-ExtraBold/Inter-ExtraBold.woff") format("woff"),
  url("../fonts/Inter-ExtraBold/Inter-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "HeadingPro-Regular";
  src: url("../fonts/HeadingPro-Regular/HeadingPro-Regular.eot");
  src: url("../fonts/HeadingPro-Regular/HeadingPro-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/HeadingPro-Regular/HeadingPro-Regular.woff") format("woff"),
  url("../fonts/HeadingPro-Regular/HeadingPro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "HeadingPro-Bold";
  src: url("../fonts/HeadingPro-Bold/HeadingPro-Bold.eot");
  src: url("../fonts/HeadingPro-Bold/HeadingPro-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/HeadingPro-Bold/HeadingPro-Bold.woff") format("woff"),
  url("../fonts/HeadingPro-Bold/HeadingPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "HeadingPro-ExtraBoldItalic";
  src: url("../fonts/HeadingPro-ExtraBoldItalic/HeadingPro-ExtraBoldItalic.eot");
  src: url("../fonts/HeadingPro-ExtraBoldItalic/HeadingPro-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"),
  url("../fonts/HeadingPro-ExtraBoldItalic/HeadingPro-ExtraBoldItalic.woff") format("woff"),
  url("../fonts/HeadingPro-ExtraBoldItalic/HeadingPro-ExtraBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}


